/* Home.css */

.container {
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 40px;
  }
  label{
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }

.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  /* margin-left: 40px; */
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.total-count-container {
  margin-top: 20px;
}

.total-count {
  font-size: 24px;
  color: #007bff;
  font-weight: bold;
}
